<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <main style="max-width: 500px;" class="mx-auto mb-3">

        <%= form_with model: @user, url: login_path do |f| %>

          <h1 class="h3 mb-3 fw-normal">Sign In to Start Using!</h1>

          <div class="form-floating mb-1">
            <%= f.email_field :email, autofocus: true, placeholder: "name@example.com", :class => "form-control" %>
            <%= f.label "Email", :for => "email" %>
          </div>
          <div class="form-floating">
            <%= f.password_field :password, :class => "form-control", autocomplete: "off", placeholder: "Senha" %>
            <%= f.label "Password", :for => "password" %>
          </div>
          <div class="text-end mt-3">
            <%= submit_tag "Sign In", :class => "btn btn-lg btn-primary" %>
          </div>
        <% end %>
        </form>
        <div>
          <p class="text-secondary"><a target="_blank" rel="alternate noopener noreferender" href="https://t.me/igorfroehner">Solicitar Acesso</a></p>
        </div>
        <%= render 'layouts/flash' %>
      </main>
    </div>
  </div>
</div>