<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <main style="max-width: 500px;" class="mx-auto mb-3">

        <%= form_with model: @user, url: login_path do |f| %>

          <%= image_tag("makers.png", :alt => "Makers Network's Logo", :width => 72, :height => 72, :class => "mb-3") %>
          <h1 class="h3 mb-3 fw-normal">Faça Log In</h1>

          <div class="form-floating mb-1">
            <%= f.email_field :email, autofocus: true, placeholder: "name@example.com", :class => "form-control" %>
            <%= f.label "Email", :for => "email" %>
          </div>
          <div class="form-floating">
            <%= f.password_field :password, :class => "form-control", autocomplete: "off", placeholder: "Senha" %>
            <%= f.label "Senha", :for => "password" %>
          </div>
          <div class="text-end mt-3">
            <%= submit_tag "Log In", :class => "btn btn-lg btn-primary" %>
          </div>
        <% end %>
        </form>
        <% flash.each do |type, msg| %>
          <div class="alert alert-dismissible alert-danger mt-2">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Ops!</strong> <%= msg %>.
          </div>
        <% end %>
      </main>
    </div>
  </div>
</div>