<div class="container mb-3">
  <div class="text-center text-white mt-5 mb-5">
    <h1 class="h1">Minhas URL's</h1>
    <%= render 'layouts/flash' %>
  </div>
  <% current_user.url.order("created_at desc").each do |url| %>
    <div class="row">
      <div class="col-12">
        <div class="card border-primary mb-3 mx-auto", style="max-width: 800px;">
          <div class="card-body">
            <h4 class="card-title row">
              <div class="col-10">
                <%= link_to url.name, "url/#{url.name}" %> - <a href="<%= url.url %>"> <%= url.url %> </a>  
              </div>
              <div class="text-end col-2">
                <%= link_to "url/#{url.name}", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Tem certeza que deseja deletar essa URL?"
                  } do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#EE5F5B" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                <% end %>
              </div>
            </h4>
            <p class="card-text">Clicks: <%= url.clicks %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
     
</div>