<div class="container">
  <div class="text-center text-white mb-5">
    <h1 class="h1">Nova URL</h1>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="card-body text-center">
          <div class="mx-auto" style="max-width: 700px;">
            <%= form_for @url, method: :post do |f|  %>

              <div class="form-floating mb-3">
                <%= f.text_field :url, :class => "form-control form-control-lg", :id => "url", :placeholder => "example@mail.com" %>
                <%= f.label :url, :for => "url"  %>
              </div>
              <div class="form-floating">
                <%= f.text_field :name, :class => "form-control form-control-lg", :id => "name", :placeholder => "Nickname" %>
                <%= f.label "Apelido", :for => "name"  %>
              </div>
              <div class="text-end">
                <%= f.submit "Criar", :class => "btn btn-lg btn-primary mt-3" %>
              </div>
            <% end %>
            <%= render 'layouts/flash' %>
          </div>
        </div>
      </div>
    </div>   
  </div>
</div>