<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @url.present? %>
        <div class="card text-white bg-primary">
          <div class="card-header"><h1><%= @url.name %></h1></div>
          <div class="card-body text-center">
            <h1 class="card-title">URL:  <a href="<%= @url.url %>"> <%= @url.url %> </a></h1>
            <p class="card-text"><h1 class="h1">Clicks: <%= @url.clicks %></h1></p>
          </div>
        </div>
      <% else %>
        <%= render 'layouts/flash' %>
      <% end %>
    </div>
  </div>
</div>